#contact_modal {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

article h2{
    font-size: 64px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* galerie */ 
/*******************/
/**** Gallery*******/
/*******************/
.galerie {
    margin-bottom: 5rem;
    margin: 0 10rem;
}

.galerie article img, .galerie article video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.galerie video{
    z-index: -100;
}

.galerie_container {
    margin: 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      
}
.galerie_container a {
    cursor: pointer;
}
.galerie_element {
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    color : #901C1C;
    font-size: 24px;
}
.galerie h3 {
    font-weight: 400;
    margin: 0;
}

.galerie_element_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.galerie_element_details h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 17rem;
    overflow: hidden;
}
.likes {
    font-size: 24px;
    color:   #901C1C;
    cursor: pointer;
}
.liked {
    color: #eb7777;
}

.galerie_container input {
    opacity: 0;
    display: none;
}
.galerie_container label {
    cursor: pointer;
}
/*modal*/ 

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}