/*header*/
.photograph-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: auto;
    max-width: 1250px;
    
    
}

.photograph-header article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.photograph-header h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;  
    color: #D3573C;
    margin: 0;
}
.photograph-header h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    margin: 0 0 5px 0 ;
}

.photograph-header p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin: 0;
}
.photograph-header img, .photograph-header video {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    order : 3;
    margin:10px;
}

.photograph-header > article{
    order:1;
    margin: 10px;
}
.photograph-header > button{
    order:2;
    margin: 20px;
}
.photograph-header > div{
    order:3;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/*filter*/

.galerie_filter{
    display: flex;
    width: 20rem;
    height: 80px;
    margin: 2rem 10rem;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.galerie_filter label{
    min-width: 5rem;
}
.galerie_filter img{
    width: 20px;
    position: absolute;
    z-index: 100;
    top: 0.6rem;
    right: 0.8rem;
    filter: brightness(0) invert(1);
    pointer-events: none;
}
.filter_container{
    margin:  0 auto 2rem 3rem ;
    font-size: 18px;
    position: relative;
    border-radius: 5px;
}
.filter_container :first-child{
    border-radius: 5px 5px 0 0;
}
.filter_container :last-child{
    border-radius: 0 0 5px 5px;
}
.filter{
    width: 170px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    background-color: #901C1C;
    border-bottom: #FAFAFA 1px solid;
    padding: 0.7rem;
    cursor: pointer;
}
.filter:hover, .filter:focus{
    background-color: #DB8876;
}
ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.filter_wrapped{
    display: none;
    flex-direction: column;    
}
.filter_wrapped--active{
    display:flex;
}

/* galerie */ 

.galerie {
    margin-bottom: 5rem;
}

.galerie article img, .galerie article video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.galerie video{
    z-index: -100;
}

.galerie_container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
      
}
.media_preview {
    cursor: pointer;
}
.galerie_element {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 350px;
    margin: 0 10px;
}
h3 {
    color : #901C1C;
    font-size: 24px;
}
.galerie h3 {
    font-weight: 400;
    margin: 0;
}

.galerie_element_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
.galerie_element_details h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 17rem;
    overflow: hidden;
}
.likes {
    font-size: 24px;
    color:   #901C1C;
    cursor: pointer;
}
.liked {
    color: #eb7777;
}

.galerie_container input {
    opacity: 0;
    display: none;
}
.galerie_container label {
    cursor: pointer;
}
/*modal*/ 
#contact_modal {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* lightbox */

.lightbox{
    display: none;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.lightbox--active{
    display: flex;
}
.lightbox__medias{
    display: none;
    overflow: hidden;
    padding: 2rem;
    flex-direction: column;
}
.lightbox__medias img, .lightbox__medias video{
    max-width: 900px;
    max-height: 800px;
    border-radius: 5px;
    object-fit: cover;
}
.lightbox__medias h2{
    max-height: 100px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #911C1C;
}
.lightbox__medias--active{
    display: flex;
    opacity: 1;
    justify-content:center;
}
button {
    background-color: inherit;
    border: none;
}
.lightbox__closebtn{
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    cursor: pointer;
    z-index: 100;
    color: #911C1C;
    
    font-size: 40px;

}

.lightbox__previousbtn, .lightbox__nextbtn{
    position : absolute;
    color: #911C1C;
    padding: 5rem 1rem;
    font-size: 48px;
    cursor: pointer;
    margin: 0 2rem;
     
}
.lightbox__previousbtn{
    right: auto;
    left: 0;
}
.lightbox__nextbtn{
    right: 0;
    left: auto;
}
.lightbox__container {
    display: flex;
    height: 95%;
    margin: auto;
    padding: 1rem;
}